.like-glyph {
  cursor: pointer;
  font-size: 2rem;
}

.activated-heart {
  color: red;
}

#modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: pink;
  padding: 10px 20px;
  border: 1px solid red;
  display: none;
}

.hidden {
  display: none;
}
